[user]
	name = Roman Blanco
[push]
	default = simple
[pull]
	rebase = true
[core]
	excludesfile = /home/rblanco/.gitignore
	filemode = false
	editor = vim
[alias]
	ghpr = "!git fetch upstream pull/$1/head && git checkout FETCH_HEAD && git checkout -b pr$1 -- && echo"
	f = "!git fetch --all --prune && git checkout master && git merge upstream/master --ff-only && git push && echo 'flush_all' | nc localhost 11211"
