[user]
	name = Roman Blanco
[push]
	default = simple
[pull]
	rebase = true
[core]
	excludesfile = /home/rblanco/.gitignore
	filemode = false
	editor = nvim
[alias]
	f = "!git fetch --all --prune && git checkout master && git merge upstream/master --ff-only && git push && echo 'flush_all' | nc localhost 11211"
