! general

Xft.dpi: 96.0
URxvt*termName: rxvt-unicode-256color
URxvt*font: xft:MesloLGSDZ:pixelsize=12
URxvt*cursorBlink: true
URxvt*loginShell: false
URxvt*urgentOnBell: true

! urls

URxvt.perl-ext-common: default,matcher
URxvt.matcher.button: 1
URxvt*underlineURLs: true
URxvt*underlineColor: #4682b4
URxvt.url-launcher: firefox

! scrolling

URxvt*scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*secondaryScroll: true
URxvt*saveLines: 65535

! colors

*.foreground:  #d8d8d8
*.background:  #000000
*.cursorColor: #d8d8d8
