[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
After=display-manager.service

[Service]
ExecStart=/usr/bin/redshift -l 55.71:12.54 -t 5500K:2000K
Environment=DISPLAY=:0
Restart=always

[Install]
WantedBy=default.target
