[Unit]
Description=Syncthing
After=network.target

[Service]
ExecStart=/usr/bin/syncthing -no-browser
Restart=on-failure

[Install]
WantedBy=default.target
